{% extends 'base.html.twig' %}

{% block body %}
 {% include "home/navbar.html.twig" %}
	<h1>Carte de Visite</h1>
  
    {% for businessCard in businessCards %}
        <div class= "container-businessCard">
            <div>{{ businessCard.companie }}</div>
            <div>{{ businessCard.firstname }}{{ businessCard.lastname }}</div>
            <div>{{ businessCard.position }}</div>
            <div>{{ businessCard.phoneNumber}}</div>
            <div>{{ businessCard.email}}</div>
            <div>{{ businessCard.website}}</div>
        </div>
    {% endfor %}

	

{% endblock %}
